.dragon-card-wrapper {
   height: 10vh;;
   width: 25vw;
   border-radius: 10px;
   background-color: rgb(18,27,44);

   margin-left: 10%;
   /* transform: translate(-50%); */
   color: rgb(172, 172, 172);
   box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.336);;
   padding-bottom: 2%;
   transition: all .5s;
   cursor: default;
   animation: fade-in .5s;
   overflow: hidden;
   margin-bottom: 5vh;
}

.dragon-card-wrapper:hover {
   overflow: hidden;
   background-color: rgba(10, 15, 22, 0.95);
   height: 54vh;
   width: 55vw;
}

.name {
   font-size: 4vh;
   position: relative;
   font-weight: bold;
   text-align: center;
   color: rgb(161, 161, 161);
   transition: all .3s;
}

.dragon-card-wrapper:hover > .name {
   color: rgb(21, 187, 173);
}

.info-pane {
   opacity: 0;
   margin-top: 2%;
   display: none;
   transition: all .25s ease-in-out;
   animation: fade-in .2s ease-in-out both;
   animation-delay: .3s;
   text-align: left;
   padding-left: 2%;
   font-size: 1vw;
   color: rgb(255, 255, 255);
}

.first-flew,.technical-info, .active, .wikipedia-link {
   margin-top: 1%;
   line-height: 2vh;
}

.about-dragon {
   margin-top: -3%;
   line-height: 2vh;
}

.about-dragon span, .technical-info span {
   color: rgb(59, 59, 59);
   font-size: 2vw    ;
   color: rgb(21, 187, 173);
}

.dragon-card-wrapper:hover > .info-pane {
   display: block;
   opacity: 1;
}

.technical-info {
   height: 1vh;
   color: white;
   /* font-size: 1.5vh; */
   margin-top: 2%;
}

.quickfire-dragon-details, .about-dragon-contents {
   margin-top: 1%;
   line-height: 2.5vh;
}

.quickfire-dragon-details span {
   margin-left: 5%;
   transform: translateX(-50%) !important;
   color: rgb(150, 150, 150) !important;
   font-size:1.5vh;
}

.wikipedia-link, .show-images {
   color: rgb(182, 182, 182); 
   transition: all .2s;
   text-decoration: none;
   font-size: 1vw;;
}

.wikipedia-link:hover, .show-images:hover {
   color: cyan !important;
   cursor: pointer;
}


.click-for-images:hover {
   color: cyan;
   cursor: pointer;
}

.click-for-images {
   position: relative;
   margin-top: .25%;
   margin-bottom: 0%;
   left: 0;
   transition: all .25s;
   width: fit-content;
   font-size: 1vw;
   color: rgb(182, 182, 182); 
}

/* ANIMATIONS */
@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}